* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: hinamincho-regular;
  src: url(fonts/himamincho-regular);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.arrow-up {
  display: flex;
  position: fixed;
  top: 90%;
  left: 90%;
  font-size: 18px;
  background-color: #333533;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: -1px 1px 10px #333533;
}
.nav-links {
  color: #ffdc00;
}
.arrow-up a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.sign-in-2a {
  display: none;
}

header {
  background-color: #333533;
  width: 100%;
  height: 60px;
}

.nav-logo {
  width: 100px;
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-item li {
  list-style: none;
  position: relative;
}

.nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: hinamincho-regular;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  background: #ffdc00;
  height: 2px;
  left: 0;
  bottom: -1px;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.3s ease;
}

.nav-link:hover {
  cursor: pointer;
  color: #ffdc00;
  transform: scale(1.09);
  transition: 0.2s ease;
}

.nav-link:active {
  cursor: pointer;
  color: #ffdc00;
  transform: scale(1.09);
  transition: 0.2s ease;
}

.fa-user {
  display: flex;
  color: #ffdc00;
  transition: 0.3s ease;
  border: 1px solid #ffdc00;
  padding: 7px;
  font-size: 16px;
  border-radius: 100%;
  justify-self: center;
  align-self: center;
}

.fa-user:hover {
  transform: scale(1.01);
}
.fa-user:active {
  transform: scale(1.01);
}

.person-icon {
  color: #ffdc00;
}

.menu {
  display: none;
  background-color: #333533;
  width: 100%;
  height: 310px;
}

.is-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  transition: 0.6s ease;
  top: 6%;
  left: 0px;
  z-index: 2;
}

.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hamburger-btn {
  background-color: transparent;
  border: 0 solid transparent;
  color: #fff;
  font-size: 18px;
}

.hamburger-btn:hover {
  cursor: pointer;
  color: #ffdc00;
}

.hamburger-btn:active {
  cursor: pointer;
  color: #ffdc00;
}

.bannerHolder {
  background-image: url('../images/banner.jpg');
  position: relative;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}

.bannerOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.7;
  z-index: 0;
}

.bannerContent {
  position: relative;
}

.bannerContent p {
  position: absolute;
  top: 75%;
  left: 2%;
  padding: 5px;
  font-size: 17px;
  color: #fff;
}

.bannerContent p a {
  color: #ffdc00;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.free-ticket::after {
  content: "";
  position: absolute;
  background: #ffdc00;
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
}

.free-ticket:hover::after {
  content: "";
  position: absolute;
  background: #ffdc00;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

.free-ticket-2::after {
  content: "";
  position: absolute;
  background: #ffdc00;
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
}

.free-ticket-2:hover::after {
  content: "";
  position: absolute;
  background: #ffdc00;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

/* start of Group one */

.group1 {
  background-color: rgba(240, 248, 255, 0.678);
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group1 img {
  position: relative;
  width: 100%;
}

.group1-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group1-content-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 0 0 0;
  padding: 10px;
}

/* End of group 1 */

.Explore {
  font-size: 20px;
  padding: 0 0 0 20px;
}

/* start of section 1 */

.s1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.textOverImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 390px;
  padding: 5px;
  top: 0;
  left: 0;
}

.imgBox {
  border-radius: 10px;
  width: 360px;
  height: 390px;
  position: relative;
  overflow: hidden;
  background-color: #333533;
}

img {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
}

.content {
  background-color: #333533;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80%;
  color: #fff;
  padding: 5 px 20px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
}

.content h6 {
  font-size: 20px;
  margin: 20px 0;
  color: #ffdc00;
}

.content p {
  margin: 10px 15px;
}

.container:hover img {
  opacity: 0.8;
  transition: 0.4s ease-out;
}

.container:hover .content {
  border-radius: 10px;
  transform: translateY(-85%);
  transition: 0.6s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  background-color: #333533ee;
}

.box-section1 {
  padding: 40px 0;
  background-color: rgba(240, 248, 255, 0.678);
}

/* end of section 1 */

/* start of section 2 */
.s2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.textOverImage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 390px;
  padding: 5px;
  top: 0;
  left: 0;
}

.imgBox2 {
  border-radius: 10px;
  width: 360px;
  height: 320px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.img2 {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
}

.content2 {
  background-color: #dadada8a;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  color: #000000;
  padding: 5 px 20px;
  cursor: pointer;
}

.content2 h6 {
  font-size: 20px;
  margin: 20px 0 0 0;
  color: #000000;
  padding-left: 15px;
}

.content2 p {
  margin: 10px 15px;
}
.container2:hover {
  transition: 0.4s ease-out;
}

.container2:hover img {
  opacity: 0.8;
  transition: 0.4s ease-out;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.container2:hover .content2 {
  border-radius: 10px;
  transform: translateY(-50%);
  transition: 0.6s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  background-color: #fafafa;
}

.box-section1 {
  padding: 40px 0;
  background-color: rgba(240, 248, 255, 0.678);
}

/* end of section 2 */

.ExhibitionSpaces {
  font-size: 20px;
  margin: 80px 0;
  padding: 0 0 0 20px;
}

.EspecialEvents {
  font-size: 20px;
  margin: 80px 0 0 0px;
  padding-left: 25px;
}

.GetInvolved {
  font-size: 20px;
  margin: 80px 0 0 0;
  padding: 0 0 0 20px;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 50px 0;
}
.connect-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: 50px 0;
}

.connect-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
  gap: 20px;
  font-size: 20px;
}

h6 {
  font-size: 18px;
}
.log-in {
  padding-top: 20px;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}
footer a:active {
  text-decoration: underline;
}
.terms {
  margin: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }

  header {
    height: 80px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
  }

  .section-two {
    margin-bottom: 5vh;
  }

  .nav-item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .nav-logo {
    margin-top: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .person-icon {
    display: none;
  }

  .sign-in-2 {
    display: flex;
    color: #ffdc00;
    font-family: hinamincho-regular;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .sign-in-2a {
    display: block;
    text-decoration: none;
  }

  .hamburger {
    position: relative;
  }

  .sign-in-2a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffdc00;
    bottom: -1px;
    left: -1px;
  }

  .sign-in-2a:hover::after {
    width: 105%;
    transition: 0.3s ease;
  }
  .bannerContent p{
    width: 610px;
  }
  
}

@media screen and (min-width: 1024px) {

  .bannerContent p{
    width: 740px;
    left: 8%;
  }
  .s1 {
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 15%;
    scroll-snap-type: x mandatory;
  }

  .container {
    scroll-snap-align: end;
  }

  .s2 {
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 15%;
    scroll-snap-type: x mandatory;
  }

  .container2{
    scroll-snap-align: end;
  }

  footer a {
    font-size: 18px;
    color: #333533;
    transition: 0.3s ease;
  }

  footer a:hover {
    color: #ffdc00;
    transform: scale(1.1);
  }
  .group1-content{
    padding: 15px;
    flex-direction: row;
  }

  .group1-content img{
    width: 600px;
  }

  .group1-content-p{
    flex-direction: column;
    padding: 40px;
  }



}

@media screen and (min-width: 1440px) {
  body {
    margin: 0 9%;
  }

  .group1-content{
    flex-direction: row;
  }

  .group1-content img{
    width: 600px;
  }

  .group1-content-p{
    flex-direction: column;
    padding: 40px;
  }





  .s1 {
    padding-left: 0;
    
  }

  .s2 {
    padding-left: 0;
    
  }


 
}

@media screen and (min-width: 1760px) {
  body {
    margin: 0 16%;
  }
}

@media screen and (min-width: 1920px) {
  body {
    margin: 0 19%;
  }
}

@media screen and (min-width: 2560px) {
  body {
    margin: 0 27%;
  }
}
