* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ::-webkit-scrollbar {
      display: none;
    } */

.arrow-up {
  display: flex;
  position: fixed;
  top: 90%;
  left: 90%;
  font-size: 18px;
  background-color: #333533;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: -1px 1px 10px #333533;
}
.nav-links {
  color: #ffdc00;
}
.arrow-up a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.sign-in-2a {
  display: none;
}

header {
  background-color: #333533;
  width: 100%;
  height: 80px;
}

.nav-logo {
  width: 100px;
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-item li {
  list-style: none;
  position: relative;
}

.nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: hinamincho-regular;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  background: #ffdc00;
  height: 2px;
  left: 0;
  bottom: -1px;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.3s ease;
}

.nav-link:hover {
  cursor: pointer;
  color: #ffdc00;
  transform: scale(1.09);
  transition: 0.2s ease;
}

.nav-link:active {
  cursor: pointer;
  color: #ffdc00;
  transform: scale(1.09);
  transition: 0.2s ease;
}

.fa-user {
  display: flex;
  color: #ffdc00;
  transition: 0.3s ease;
  border: 1px solid #ffdc00;
  padding: 7px;
  font-size: 16px;
  border-radius: 100%;
  justify-self: center;
  align-self: center;
}

.fa-user:hover {
  transform: scale(1.01);
}
.fa-user:active {
  transform: scale(1.01);
}

.person-icon {
  color: #ffdc00;
}

.menu {
  display: none;
  background-color: #333533;
  width: 100%;
  height: 310px;
}

.is-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  transition: 0.6s ease;
  top: 7%;
  left: 0px;
  z-index: 2;
}

.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hamburger-btn {
  background-color: transparent;
  border: 0 solid transparent;
  color: #fff;
  font-size: 25px;
}

.hamburger-btn:hover {
  cursor: pointer;
  color: #ffdc00;
}

.hamburger-btn:active {
  cursor: pointer;
  color: #ffdc00;
}

.backBtn {
  font-size: 25px;
  padding: 20px 10px;
}

.backBtn a {
  color: black;
  cursor: pointer;
}

.fa-arrow-left:hover{
  transform: scale(0.9);
  transition: .3s ease
}



.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  gap: 30px;
}

.title {
  font-weight: bolder;
  font-size: 25px;
}

.content img {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.postDate {
  display: flex;
  align-self: baseline !important;
  justify-self: center !important;
  gap: 5px;
}
.postDate small {
  padding-top: 3px;
  font-weight: 500;
}

.inputGroup button {
  height: 7vh;
  width: 15vw;
  color: #ffdc00;
  background-color: #333533;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.inputGroup button:hover{
  background-color: #ffdc00;
  color: #000000;
  font-weight: 600;
  transition: .3s ease;
}

.inputGroup input {
  width: 80%;
  height: 7vh;
  outline: 0px;
  font-size: 16px;
}
::placeholder {
  color: #000000;
  padding: 5px;
  font-weight: 300;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: relative;
}

.commentElement {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.commentElement label {
  font-size: 20px;
  font-weight: 500;
}

#commentSection {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid #333533;
  
}

#commentSection .commentText {
  font-weight: 500;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #ffdc00;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.terms {
  margin: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 50px 0;
}
.connect-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: 50px 0;
}

h6 {
  font-size: 18px;
}
.log-in {
  padding-top: 20px;
}

.connect-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  gap: 20px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }

  header {
    height: 80px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
  }

  .nav-item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .nav-logo {
    margin-top: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .person-icon {
    display: none;
  }

  .sign-in-2 {
    display: flex;
    color: #ffdc00;
    font-family: hinamincho-regular;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .sign-in-2a {
    display: block;
    text-decoration: none;
  }

  .hamburger {
    position: relative;
  }

  .sign-in-2a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffdc00;
    bottom: -1px;
    left: -1px;
  }

  .sign-in-2a:hover::after {
    width: 105%;
    transition: 0.3s ease;
  }

  #commentSection{
    width: 725px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px){
  section {
    margin: 0 20px;
  }

  #commentForm{
    width:  735px;
  }

  
}

@media screen and (min-width: 1440px){
  body {
    margin: 0 9%;
  }

  .title{
    display: flex;
    justify-self: baseline;
    align-self: baseline;
    margin: 30px 0;
    width: 750px;
    font-size: 30px;
  }

  .content img{
    width: 80%;
  }
  .content p{
    width: 80%;
  }

  .inputGroup button {
    height: 50px;
  }

  .inputGroup input{
    height: 50px;
  }
}
@media screen and (min-width: 1760px) {
  body {
    margin: 0 16%;
  }
}

@media screen and (min-width: 1920px) {
  body {
    margin: 0 19%;
  }
}

@media screen and (min-width: 2560px) {
  body {
    margin: 0 27%;
  }
}


