* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfdbd53e;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0 0 0;
}

.home {
  width: 300px;
  display: block;
  margin-left: 10px;
}

.fa-arrow-left {
  font-size: 20px;
}
.fa-arrow-left:hover {
  transform: scale(1.2);
  transition: 300ms ease;
  color: #ffdc00;
}

.fa-user {
  top: 5px;
  position: relative;
  font-size: 20px;
}

h1 {
  margin: 10px;
}

.container {
  background-color: #333533;
  width: 300px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

label {
  padding: 5px 0 5px 0;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
}

.input-group input {
  width: 320px;
  height: 35px;
}

.input-group-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 5px;
}

.input-group-3 button {
  height: 35px;
  width: 120px;
}

.required::after {
  content: "*";
  color: red;
  padding: 10px;
}

#emailSpan,
#nameSpan,
#passwordSpan,
#confirmPasswordSpan {
  color: red;
  font-size: 14px;
  padding: 5px 0 0 0;
}

input {
  height: 30px;
  border-radius: 2px;
  border: 0 solid transparent;
  outline: 0px;
}

:placeholder-shown {
  padding: 5px;
}

.checkbox- {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 3px;
}

.check {
  cursor: pointer;
  margin: 3px 0 0 0;
}
.terms {
  padding: 0;
}

.login-direct {
  display: flex;
  align-self: center;
}

.sign-up-btn {
  align-self: center;
  background-color: #ffdc00;
  border: 0 solid transparent;
  border-radius: 3px;
  color: black;
  width: 120px;
  height: 35px;
}

.sign-up-btn:hover {
  cursor: pointer;
  background-color: #333533;
  color: #ffdc00;
  border: 1px solid #fff;
  transition: 250ms ease-in-out;
}

.sign-up-btn:active {
  cursor: pointer;
  background-color: #333533;
  color: #ffdc00;
  border: 1px solid #fff;
  transition: 250ms ease-in-out;
}

.login-direct {
  color: #fff;
}

.login-link {
  color: #fff;
  padding-left: 5px;
}

.login-link:hover {
  color: #ffdc00;
  text-decoration: none;
}

.login-link:active {
  color: #ffdc00;
  text-decoration: none;
}

.pop-up-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 102vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.pop-up-confirmation p {
  padding: 0 20px;
}

.pop-up-confirmation h4 {
  font-size: 22px;
}

#returnToPage {
  height: 35px;
  width: 180px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #ffdc00;
  color: #333533;
  font-size: 15px;
}

#returnToPage:hover {
  background-color: #333533;
  color: #ffdc00;
  cursor: pointer;
  transition: 0.3s ease;
}

#returnToPage:active {
  background-color: #333533;
  color: #ffdc00;
}

@media screen and (min-width: 390px) {
  .container {
    width: 360px;
    padding: 50px 0;
  }
}

@media screen and (min-width: 480px) {
  section {
    margin: 10% 0 0 0;
  }

  .home {
    width: 400px;
  }
  .container {
    width: 400px;
  }

  .items {
    padding: 30px 0;
  }
}

@media screen and (min-width: 640px) {
  .home {
    width: 450px;
  }

  .container {
    width: 450px;
  }

  .items {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  section {
    margin: 10% 0 10% 0;
  }

  .home {
    width: 550px;
  }

  .container {
    width: 550px;
  }

  .items {
    padding: 70px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    width: 650px;
  }

  .container {
    width: 650px;
  }

  .items {
    width: 360px;
  }

  .sign-up-btn {
    margin: 15px 0;
  }
}

@media screen and (min-width: 1440px) {
  section {
    margin-top: 7%;
  }
}

@media screen and (min-width: 1920px) {
  section {
    margin-top: 5%;
  }
}
